@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --letraA: 36px;
    --letraB: 28px;
    --parrafos: 30px;
    --parrafosb: 22px;
}

body {
    background-color: rgb(37, 37, 37);
    font-family: "Montserrat", sans-serif;
    color: #F6F6F6; 
    
   
}

.header {
    background-color: rgb(0, 0, 0);
    position: fixed;
    height: 100%;
    width: 180px;
    display: flex;
    justify-content: center;
    color: #22D4FD;
    
    
}


.menu__anclas:hover{
    
    background-color: #333;
    padding: 8px ;
    width: 100%;
    border-radius: 4px;

}


.container__navegacion {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}

.container__titulo{
    display: flex;
    padding-top: 10px;
    
}

.lista__navegacion{
    display: flex;
    gap: 90px;
    flex-direction: column;

}

.cabecera__logo {
    max-width: 20px;
    max-height: 20px;
}

.nombre {
    height: 18rem;
}

.parrafo {
    font-size: var(--parrafos);
}

.destaque__texto {
    color: #22D4FD;
}

.destaque__ONE {
    color: firebrick;
}

.saludo {
    font-size: var(--letraA);
    font-weight: 400;
}

.container__principal {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    

    
}


.descripcion {
    display: flex;
    align-items: center;
    margin-top: 10%; 
    margin-right: 5px;
}

.imagen__perfil {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    aspect-ratio: 16/9;
}

.parrafo__navegacion {
    margin-top: 50px;
    margin-bottom: 50px;
}

.enlaces {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.enlaces__redes{
    display: flex;
    gap: 100px;
}

.anclas{
    display: flex;
    justify-content: center;
    padding: 8px 8px 0;
    border: solid;
    border-radius: 8px;
    align-items: center;
    gap: 15px;
    color: #22D4FD;
}

.anclas:hover{

    background-color: black;

}



.sobre__mi{
   
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: var(--parrafos);
    font-weight: 300;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.sobre__mi h2{
    margin-top: 10%;
    margin-bottom:5%;
    font-weight: 600;
    font-size: var(--letraA);
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

}




.lineas__presentacion{
    width: 200px;
    height: 2px;
    background-color: #22D4FD;
    margin: 30px 0;
    
}

.imagenes {
    width: 30px;
    height: 30px;
    
    
}



.container__presentacion {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.skill h2{
    margin-top: 10%;
    margin-bottom:5%;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    
}

.hobbies h2{
    margin-top: 10%;
    margin-bottom:5%;
    font-weight: 600;
    font-size: 36px;
    align-items: center;
    flex-direction: column-reverse;
    display: flex;

}


.lista__skills{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    margin-top: 8%;
}

.itens__skills{

    display: flex;
    flex-direction:column-reverse;
    width:176px ;
    height:174px;
    background-color: black;
    border-radius: 5px;
    gap: 18px;
   
   
}

.formacion__academica{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
    
}


.formacion__academica h2{
    margin-top: 10%;
    margin-bottom:5%;
    font-weight: 600;
    font-size: 36px;
    align-items: center;
    flex-direction: column-reverse;
    display: flex;

}

.exp{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    gap: 50px;
    
}

.exp h2 {
    margin-top: 10%;
    margin-bottom:5%;
    font-weight: 600;
    font-size: var(--letraA);
    align-items: center;
    flex-direction: column-reverse;
    display: flex;

}



.experiencias{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.contenedor__expimagen{
    display: flex;
    gap: 100px;
}

.container__experiencias{

    display: flex;
    flex-direction: column;
    gap: 10px;
    

}

.enlaces__repositorios{
   gap: 40px;
    display: flex;
    margin-top: 40%;
}

.link__repositorios{
    border: solid;
    padding: 15px;
}

.link__demo{
    
    font-weight: 600;
    padding: 15px;
    background-color: #F6F6F6;
    color: #333;
}

.enlaces__login{
    gap: 40px;
    display: flex;
    margin-top: 100%;
}

.interfaz{
    
    margin-top: 10%;
    display: flex;
    gap: 100px;
    
}

.imagenes__login{
    display: flex;
    flex-direction: column;
    
}


.rodapie {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 25%;

}

.rodapie h2{

    font-weight: 600;
    font-size: var(--letraA);

}




.datos {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    padding-top: 25px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-top: 5%;
    background-color: #22D4FD;
    
}



@media (max-width:768px) {



    .container__principal {
        display: flex;
        flex-direction: column; /* Cambia a column */
        width:100%;
        margin:0;
        text-align: center;
        
    }

    

    .header {
        
        display: flex;
        width: 100%;
        height: auto;
        color: #22D4FD;
        height: 0;
        
    }



    .container__navegacion{
        
        display: flex;
        background-color: black;
        height: 80px;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        margin: 0;
        
    }

    .container__titulo{
        display: none;
    }
        

    

    .lista__navegacion{
        display: flex;
        flex-direction: row;
        max-width:100%;
        gap: 45px;
    }

    .enlaces {
        margin-top: 50px;
        display: flex;
        margin-left: 38px;
    }


    .enlaces__redes{
        display: flex;
        text-align: center;
        gap: 2px;
        
        
        
    }

    .enlaces__redes a{
        
        display: flex;
        justify-content: center;
        padding: 8px;
        padding-left: 28px;
        gap: 0;
    }

    .anclas{
        font-size: 14px;
        margin-left: 14px;
        
    }

    .img__redes{
        height: 28%;
        width: 28%;
        display: flex;
        justify-content: center;
        margin: 0 8px;
    }
    

    .enlaces__repositorios{
        gap: 40px;
         display: flex;
         margin-top: 10%;
         display: flex;
        justify-content: center;
     }

     .enlaces__login{
        gap: 40px;
        display: flex;
        margin-top: 10%;
        display: flex;
        justify-content: center;
    }
     


    .sobre__mi{

        text-align: center;
        
    }

    .sobre__mi h2{

        font-size: var(--letraB);
    }

    .sobre__mi p {
        font-size: var(--parrafosb);
    }
    
    .skill h2, .hobbies h2 , .formacion__academica h2{

        font-size: var(--letraB);
    }
    

    .lista__skills{
        display: flex;
        justify-content: space-around;
        gap: 15px;
    }

    .itens__skills{

        
        width:176px ;
        height:100px;
        border-radius: 10px;
       
    }

    

    
    .descripcion {
        
        display: flex;
        max-width: 95%;
        word-break: keep-all;
        margin-top: 25%;
    }

    

    .saludo{
        
        font-size: 28px;
        font-weight: 400;
    }

    .parrafo__navegacion{
        margin-top: 10%;
        margin-left: 5%;
        width: 80%;
    }

    .parrafo{
        font-size: var(--parrafosb);
    }

    

    .imagen__perfil {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        aspect-ratio: 16/9;
        margin-top: 0%;
    }

    .img__encriptador{
        width:90% ;
        height:60% ;
    }

    .img__login{
        width: 90%;
        height: 60%;
        
    }

    .img__alura{

        width: 70%;
        height: 70%;
    }



    .contenedor__expimagen{

        display: flex;
        flex-direction: column;
       
        margin-left: 0;
        
        
    }

    .exp h2 {
        
        font-size: 28px;
        white-space: nowrap;
    }

    
    
    

    .interfaz{

        display: flex;
        flex-direction: column-reverse;
       
    }


    .rodapie{
        
        width: 95%;
    }

    footer{
    bottom:0;
    width: 100%;
    }

}

@media (max-width:378px){


    .header{

        width: 100%;
        
    }

    .lista__navegacion{
       margin-left: 25px;
        gap: 10%;
   }
    

    .container__principal{

        display: flex;
        text-align: center;
    }

    .descripcion{
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .imagen__perfil{

        width: 5rem;
        height: 5rem;
    }
    
    .saludo{

        font-size: 20px;
    }

    .parrafo{

        font-size: 16px;
    }

    .enlaces__redes{

        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .enlaces__redes a{
        
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    
    .anclas{
        font-size: 10px;
    }

    .container__navegacion{

        display: flex;
        justify-content: flex-start;
        font-size: 14px;
        max-width:100%;
    }

   
    .img__alura{

        width: 50%;
        height: 50%;
    }

    .img__encriptador{
        width:80% ;
        height:80% ;
    }

    .img__login{
        width: 80%;
        height: 50%;
    }

    .img__redes{
        height: 25%;
        width: 25%;
    }

    .formacion__academica figure{
        text-align: center;

    }

    .container__experiencias h2{

        font-size: 25px;

    }

    .enlaces__repositorios, .enlaces__login{
        display: flex;
        justify-content: center;
    }

    
    
   
}
    

    
    

 







